<!DOCTYPE html>
{% load custom_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/draft_style.css"><link rel="stylesheet" type="text/css" href="/static/css/style.css">

<div class="header-top">
    <div class="container-category">
        <div class="header-inner">
            <div class="logo">logo</div>
            <div class="right-contant">
                <div class="field-wrap"><label>Alberta See Processor – </label><input type="text" name="plants_name" placeholder="Plants Name" value="{{data.plants_name}}" /> </div>
                <p>Aerial Work Platform (AWP) Pre-Use Inspection Checklist and Operator Qualification Form</p>
            </div>
        </div>
    </div>
</div>
<div class="AWP-form RCA-form-pdf">
    <div class="container-category">
        <form action="update-drafts" method="POST">
            {% csrf_token  %}
            <div class="ABSP-form-block">
                <div class="top-link">
                    <h2>Aerial Work Platform (AWP) Pre-Use Inspection Checklist and Operator Qualification Form</h2>
                </div>
                <table>
                    <tr>
                        <td>
                            <div class="field-wrap"> <label>Date:</label> <input type="date" value="{{data.date}}" name="date"/> </div>
                        </td>
                        <td>
                            <div class="field-wrap"> <label>Aerial device ID#:</label> <input type="text" name="device_id" value="{{data.device_id}}"/> </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label>Unit type:</label>
                            <div class="single-line-checkbox"> <label>
                                <input type="checkbox" name="unit_type" value="Scissor Lift" {{ data.unit_type|get_string_as_list|match_value:"Scissor Lift" }}>
                                Scissor Lift</label> </div>
                            <div class="single-line-checkbox"> <label>
                                <input type="checkbox" name="unit_type" value="Bucket Truck" {{ data.unit_type|get_string_as_list|match_value:"Bucket Truck" }}>
                                Bucket Truck</label> </div>
                            <div class="single-line-checkbox"> <label>
                                <input type="checkbox" name="unit_type" value="Telescopic Boom" {{ data.unit_type|get_string_as_list|match_value:"Telescopic Boom" }}>
                                Telescopic Boom</label> </div>
                            <div class="single-line-checkbox"> <label>
                                <input type="checkbox" name="unit_type" value="Other" {{ data.unit_type|get_string_as_list|match_value:"Other" }}>
                                Other</label> </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="field-wrap"> <label>Location of Use:</label> <input type="text" name="location" value="{{data.location}}"/> </div>
                        </td>
                    </tr>
                </table>
                <table class="inspection-tbl responsive-tbl radio-checkbox">
                    <thead>
                    <tr>
                        <th colspan="2">INSPECTION ITEMS AND DESCRIPTION</th>
                        <th>Yes</th>
                        <th>No</th>
                        <th>N/A</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Brakes are operating properly</td>
                        <td> <input type="radio" name="brakes" value="yes" {{ data.brakes|radio_three:"yes" }} > </td>
                        <td> <input type="radio" name="brakes" value="no" {{ data.brakes|radio_three:"no" }}> </td>
                        <td> <input type="radio" name="brakes" value="N/A" {{ data.brakes|radio_three:"N/A" }}> </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Controls are lABSPlled and legible</td>
                        <td> <input type="radio" name="controls" value="yes" {{ data.controls|radio_three:"yes" }}> </td>
                        <td> <input type="radio" name="controls" value="no" {{ data.controls|radio_three:"no" }}> </td>
                        <td> <input type="radio" name="controls" value="N/A" {{ data.controls|radio_three:"N/A" }}> </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Emergency controls are operating properly</td>
                        <td> <input type="radio" name="emergency" value="yes" {{ data.emergency|radio_three:"yes" }}> </td>
                        <td> <input type="radio" name="emergency" value="no" {{ data.emergency|radio_three:"no" }}> </td>
                        <td> <input type="radio" name="emergency" value="N/A" {{ data.emergency|radio_three:"N/A" }}> </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Lower operating controls successfully override the upper controls</td>
                        <td> <input type="radio" name="lower" value="yes" {{ data.lower|radio_three:"yes" }}> </td>
                        <td> <input type="radio" name="lower" value="no" {{ data.lower|radio_three:"no" }}> </td>
                        <td> <input type="radio" name="lower" value="N/A" {{ data.lower|radio_three:"N/A" }}> </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Both upper and lower controls are adequately guarded to prevent inadvertent operation</td>
                        <td> <input type="radio" name="both_controls" value="yes" {{ data.both_controls|radio_three:"yes" }}> </td>
                        <td> <input type="radio" name="both_controls" value="no" {{ data.both_controls|radio_three:"no" }}> </td>
                        <td> <input type="radio" name="both_controls" value="N/A" {{ data.both_controls|radio_three:"N/A" }}> </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Any defective welds or damaged control cables</td>
                        <td> <input type="radio" name="defective" value="yes" {{ data.defective|radio_three:"yes" }}> </td>
                        <td> <input type="radio" name="defective" value="no" {{ data.defective|radio_three:"no" }}> </td>
                        <td> <input type="radio" name="defective" value="N/A" {{ data.defective|radio_three:"N/A" }}> </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Fuel systems and hydraulic systems have no leaks on the ground</td>
                        <td> <input type="radio" name="hydraulic" value="yes" {{ data.hydraulic|radio_three:"yes" }}> </td>
                        <td> <input type="radio" name="hydraulic" value="no" {{ data.hydraulic|radio_three:"no" }}> </td>
                        <td> <input type="radio" name="hydraulic" value="N/A" {{ data.hydraulic|radio_three:"N/A" }}> </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Handrails and supports are in place and in good condition</td>
                        <td> <input type="radio" name="handrails" value="yes" {{ data.handrails|radio_three:"yes" }}> </td>
                        <td> <input type="radio" name="handrails" value="no" {{ data.handrails|radio_three:"no" }}> </td>
                        <td> <input type="radio" name="handrails" value="N/A" {{ data.handrails|radio_three:"N/A" }}> </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Basket anchor point in place and in good condition</td>
                        <td> <input type="radio" name="basket" value="yes" {{ data.basket|radio_three:"yes" }}> </td>
                        <td> <input type="radio" name="basket" value="no" {{ data.basket|radio_three:"no" }}> </td>
                        <td> <input type="radio" name="basket" value="N/A" {{ data.basket|radio_three:"N/A" }}> </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Muffler and exhaust pipes in place and in good condition</td>
                        <td> <input type="radio" name="exhaust" value="yes" {{ data.exhaust|radio_three:"yes" }}> </td>
                        <td> <input type="radio" name="exhaust" value="no" {{ data.exhaust|radio_three:"no" }}> </td>
                        <td> <input type="radio" name="exhaust" value="N/A" {{ data.exhaust|radio_three:"N/A" }}> </td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Outriggers freely slide and no defects</td>
                        <td> <input type="radio" name="outriggers" value="yes" {{ data.outriggers|radio_three:"yes" }}> </td>
                        <td> <input type="radio" name="outriggers" value="no" {{ data.outriggers|radio_three:"no" }}> </td>
                        <td> <input type="radio" name="outriggers" value="N/A" {{ data.outriggers|radio_three:"N/A" }}> </td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Tires and wheels are properly inflated and in good condition</td>
                        <td> <input type="radio" name="tires" value="yes" {{ data.tires|radio_three:"yes" }}> </td>
                        <td> <input type="radio" name="tires" value="no" {{ data.tires|radio_three:"no" }}> </td>
                        <td> <input type="radio" name="tires" value="N/A" {{ data.tires|radio_three:"N/A" }}> </td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Floors and landings are clean and in good condition</td>
                        <td> <input type="radio" name="landings" value="yes" {{ data.landings|radio_three:"yes" }}> </td>
                        <td> <input type="radio" name="landings" value="no" {{ data.landings|radio_three:"no" }}> </td>
                        <td> <input type="radio" name="landings" value="N/A" {{ data.landings|radio_three:"N/A" }}> </td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Oil levels, hydraulic level, fuel level, coolant level adequate</td>
                        <td> <input type="radio" name="coolant" value="yes" {{ data.coolant|radio_three:"yes" }}> </td>
                        <td> <input type="radio" name="coolant" value="no" {{ data.coolant|radio_three:"no" }}> </td>
                        <td> <input type="radio" name="coolant" value="N/A" {{ data.coolant|radio_three:"N/A" }}> </td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Battery is charged</td>
                        <td> <input type="radio" name="charged" value="yes" {{ data.charged|radio_three:"yes" }}> </td>
                        <td> <input type="radio" name="charged" value="no" {{ data.charged|radio_three:"no" }}> </td>
                        <td> <input type="radio" name="charged" value="N/A" {{ data.charged|radio_three:"N/A" }}> </td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Motion alarms are operating</td>
                        <td> <input type="radio" name="alarms" value="yes" {{ data.alarms|radio_three:"yes" }}> </td>
                        <td> <input type="radio" name="alarms" value="no" {{ data.alarms|radio_three:"no" }}> </td>
                        <td> <input type="radio" name="alarms" value="N/A" {{ data.alarms|radio_three:"N/A" }}> </td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Drive controls function properly and are properly applied</td>
                        <td> <input type="radio" name="Drive" value="yes" {{ data.Drive|radio_three:"yes" }}> </td>
                        <td> <input type="radio" name="Drive" value="no" {{ data.Drive|radio_three:"no" }}> </td>
                        <td> <input type="radio" name="Drive" value="N/A" {{ data.Drive|radio_three:"N/A" }}> </td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Safety warning decals are in place and legible</td>
                        <td> <input type="radio" name="legible" value="yes" {{ data.legible|radio_three:"yes" }}> </td>
                        <td> <input type="radio" name="legible" value="no" {{ data.legible|radio_three:"no" }}> </td>
                        <td> <input type="radio" name="legible" value="N/A" {{ data.legible|radio_three:"N/A" }}> </td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>Limit switches are properly functioning</td>
                        <td> <input type="radio" name="switches" value="yes" {{ data.switches|radio_three:"yes" }}> </td>
                        <td> <input type="radio" name="switches" value="no" {{ data.switches|radio_three:"no" }}> </td>
                        <td> <input type="radio" name="switches" value="N/A" {{ data.switches|radio_three:"N/A" }}> </td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>Operators manual is with the unit</td>
                        <td> <input type="radio" name="Operators" value="yes" {{ data.Operators|radio_three:"yes" }}> </td>
                        <td> <input type="radio" name="Operators" value="no" {{ data.Operators|radio_three:"no" }}> </td>
                        <td> <input type="radio" name="Operators" value="N/A" {{ data.Operators|radio_three:"N/A" }}> </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <div class="field-wrap"> <label>Comments or Additional Requirements:</label> <input type="text" name="first_name" value=""/> </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="3">
                            <div class="field-wrap">
                                <label>
                                    <h4>Warning</h4>
                                    <p>Do not use the equipment if any of the above items fail the inspection.</p>
                                </label>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <table>
                    <tr>
                        <td>
                            <div class="field-wrap"> <label>Supervisor Name:</label> <input type="text" name="supervisor_name" value="{{data.supervisor_name}}"/> </div>
                        </td>
                        <td>
                            <div class="field-wrap"> <label>Operator printed name and signature:</label> <input type="text" name="printed_name" value="{{data.printed_name}}"/> </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="td-heading">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="field-wrap"> <label>Operator Name:</label> <input type="text" name="operat_name" value="{{data.operat_name}}"/> </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="field-wrap"> <label>Employed by:</label> <input type="text" name="emp_by" value="{{data.emp_by}}"/> </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="field-wrap"> <label>AWP training provided for (equipment make and model):</label> <input type="text" name="AWP" value="{{data.AWP}}"/> </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="td-heading">QUALIFICATIONS REQUIRMENTS</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>The following requirements have been confirmed for this operation:</p>
                            <ul>
                                <li>Has the required physical and mental abilities to operate the equipment</li>
                                <li>Has reviewed and demonstrates an understanding of operator's manual, including operating restrictions and hazards</li>
                                <li>Has reviewed site safety rules and procedures (i.e.: work in the vicinity of power lines)</li>
                                <li>Understands all phases of setting up and operating the unit</li>
                                <li>Has received and successfully completed specific written and/or hands-on training and instruction on the equipment to be operated</li>
                                <li>Has demonstrated proficiency in the safe operation of the AWP to be used</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"> <label>Comments or Additional Requirements</label> <textarea name="comments">{{data.comments}}</textarea> </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="inside-tbl-td">
                            <table class="inside-tbl border-tbl">
                                <tr>
                                    <td style="width: 50%">
                                        <div class="field-wrap"> <label>Employer/trainer representative name:</label> <input type="text" name="representative_name" value="{{data.representative_name}}"/> </div>
                                    </td>
                                    <td>
                                        <div class="field-wrap"> <label>Signature:</label> <input type="text" name="emp_sign" value="{{data.emp_sign}}"/> </div>
                                    </td>
                                    <td>
                                        <div class="field-wrap"> <label>Date:</label> <input type="date" name="emp_date" value="{{data.emp_date}}"/> </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            {% if messages %}
            {% for message in messages %}
              <p class="bg-success draft-success text-white">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <input type="hidden" value="{{data.id}}" name="draft_id">
<input type="hidden" value="{{data.inspection_id}}" name="inspection_id">
            <input type="hidden" value="Aerial-Work-Platform-AWP-Pre-Use-Inspection-Checklist-and-Operator-Qualification-Form" name="draft_name">
            <button type="submit" class="btn main-content-inner-box-export-btn">Update Data</button>
        </form>
    </div>
</div>
<br>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/static/js/draft.js"></script>

</body>
</html>