{% load custom_tags %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/draft_style.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<div class="header-top">
    <div class="container-category">
        <div class="header-inner">
            <div class="logo">logo</div>
            <div class="right-contant">
                <div class="field-wrap"><label>Alberta See Processor – </label><input type="text" value="{{data.plants_name}}" name="plants_name" placeholder="Plants Name" /> </div>
                <p>First Aid Kits</p>
            </div>
        </div>
    </div>
</div>
<div class="AWP-form RCA-form-pdf">
    <div class="container-category">
        <form action="update-drafts" method="POST">
			{% csrf_token %}
        <div class="ABSP-form-block">
            <div class="top-link">
                <h2>First Aid Kits</h2>
            </div>
            <div class="tbl-scroll">
                <table class="responsive-tbl">
                    <tr>
                        <td class="td-heading">Date</td>
                        <td class="td-heading">Supplies Needed</td>
                        <td class="td-heading">Inspected By</td>
                        <td class="td-heading">Signature</td>
                    </tr>
                    <tr>
                        <td>January</td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.jan_supply}}" name="jan_supply"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.jan_insp_by}}" name="jan_insp_by"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.jan_sign}}" name="jan_sign"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>February</td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.feb_supply}}" name="feb_supply"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.feb_insp_by}}" name="feb_insp_by"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.feb_sign}}" name="feb_sign"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>March</td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.mar_supply}}" name="mar_supply"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.mar_insp_by}}" name="mar_insp_by"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.mar_sign}}" name="mar_sign"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>April</td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.apr_supply}}" name="apr_supply"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.apr_insp_by}}" name="apr_insp_by"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.apr_sign}}" name="apr_sign"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>May</td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.may_supply}}" name="may_supply"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.may_insp_by}}" name="may_insp_by"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.may_sign}}" name="may_sign"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>June</td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.jun_supply}}" name="jun_supply"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.jun_insp_by}}" name="jun_insp_by"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.jun_sign}}" name="jun_sign"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>July</td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.jul_supply}}" name="jul_supply"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.jul_insp_by}}" name="jul_insp_by"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.jul_sign}}" name="jul_sign"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>August</td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.aug_supply}}" name="aug_supply"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.aug_insp_by}}" name="aug_insp_by"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.aug_sign}}" name="aug_sign"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>September</td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.sep_supply}}" name="sep_supply"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.sep_insp_by}}" name="sep_insp_by"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.sep_sign}}" name="sep_sign"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>October</td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.oct_supply}}" name="oct_supply"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.oct_insp_by}}" name="oct_insp_by"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.oct_sign}}" name="oct_sign"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>November</td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.nov_supply}}" name="nov_supply"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.nov_insp_by}}" name="nov_insp_by"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.nov_sign}}" name="nov_sign"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>December</td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.dec_supply}}" name="dec_supply"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.dec_insp_by}}" name="dec_insp_by"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" value="{{data.dec_sign}}" name="dec_sign"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <input type="hidden" value="{{data.id}}" name="draft_id">
            <input type="hidden" value="First-Aid-Kits" name="draft_name">
        <button type="submit" class="btn main-content-inner-box-export-btn">Update Data</button>
		</form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/static/js/draft.js"></script>