<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/draft_style.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<div class="header-top">
    <div class="container-category">
        <div class="header-inner">
            <div class="logo">logo</div>
            <div class="right-contant">
                <div class="field-wrap"><label>Alberta See Processor – </label><input type="text" name="plants_name" value="{{data.plants_name}}" placeholder="Plants Name" /> </div>
                <p>Gas Test Log</p>
            </div>
        </div>
    </div>
</div>
<div class="AWP-form RCA-form-pdf">
    <div class="container-category">
        <div class="ABSP-form-block">
            <div class="top-link">
                <h2>Gas Test Log</h2>
            </div>
            <div class="tbl-scroll">
                <table class="responsive-tbl">
                    <tr>
                        <td colspan="8" class="tbold tcenter">Gas Test Log</td>
                    </tr>
                    <tr>
                        <td class="td-heading">Date (d/m/y)</td>
                        <td class="td-heading">Time – 24 hr. format</td>
                        <td class="td-heading">Oxygen %</td>
                        <td class="td-heading">LEL %</td>
                        <td class="td-heading">H2S %</td>
                        <td class="td-heading">CO %</td>
                        <td class="td-heading">Other</td>
                        <td class="td-heading">Initials</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="field-wrap"><input type="text" name="date_one" value="{{ data.date_one}}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="time_one" value="{{ data.time_one }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="oxygen_one" value="{{ data.oxygen_one }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="lel_one" value="{{ data.lel_one }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="h2s_one" value="{{ data.h2s_one }}" ></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="co_one" value="{{ data.co_one }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="other_one" value="{{ data.other_one }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="initials_one" value="{{ data.initials_one }}"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="field-wrap"><input type="text" name="date_two" value="{{ data.date_two }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="time_two" value="{{ data.time_two }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="oxygen_two" value="{{ data.oxygen_two }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="lel_two"value="{{ data.lel_two }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="h2s_two" value="{{ data.h2s_two }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="co_two" value="{{ data.co_two }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="other_two" value="{{ data.other_two }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="initials_two" value="{{ data.initials_two }}"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="field-wrap"><input type="text" name="date_three" value="{{ data.date_three }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="time_three" value="{{ data.time_three }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="oxygen_three" value="{{ data.oxygen_three }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="lel_three" value="{{ data.lel_three }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="h2s_three" value="{{ data.h2s_three }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="co_three" value="{{ data.co_three }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="other_three" value="{{ data.other_three }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="initials_three" value="{{ data.initials_three }}"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="field-wrap"><input type="text" name="date_four" value="{{ data.date_four }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="time_four" value="{{ data.time_four }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="oxygen_four" value="{{ data.oxygen_four }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="lel_four" value="{{ data.lel_four }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="h2s_four" value="{{ data.h2s_four }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="co_four" value="{{ data.co_four }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="other_four" value="{{ data.other_four }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="initials_four" value="{{ data.initials_four }}"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="field-wrap"><input type="text" name="date_five" value="{{ data.date_five }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="time_five" value="{{ data.time_five }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="oxygen_five" value="{{ data.oxygen_five }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="lel_five" value="{{ data.lel_five }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="h2s_five" value="{{ data.h2s_five }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="co_five" value="{{ data.co_five }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="other_five" value="{{ data.other_five }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="initials_five" value="{{ data.initials_five }}"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="field-wrap"><input type="text" name="date_six" value="{{ data.date_six }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="time_six" value="{{ data.time_six }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="oxygen_six" value="{{ data.oxygen_six }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="lel_six" value="{{ data.lel_six}}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="h2s_six" value="{{ data.h2s_six }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="co_six" value="{{ data.co_six }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="other_six" value="{{ data.other_six }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="initials_six" value="{{ data.initials_six }}"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="field-wrap"><input type="text" name="date_seven" value="{{ data.date_seven }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="time_seven" value="{{ data.time_seven }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="oxygen_seven" value="{{ data.oxygen_seven }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="lel_seven" value="{{ data.lel_seven }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="h2s_seven" value="{{ data.h2s_seven }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="co_seven" value="{{ data.co_seven }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="other_seven" value="{{ data.other_seven }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="initials_seven" value="{{ data.initials_seven }}"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="field-wrap"><input type="text" name="date_eight" value="{{ data.date_eight }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="time_eight" value="{{ data.time_eight }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="oxygen_eight" value="{{ data.oxygen_eight }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="lel_eight" value="{{ data.lel_eight }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="h2s_eight" value="{{ data.h2s_eight }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="co_eight" value="{{ data.co_eight }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="other_eight" value="{{ data.other_eight }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="initials_eight" value="{{ data.initials_eight }}"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="field-wrap"><input type="text" name="date_nine" value="{{ data.ddate_nine }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="time_nine" value="{{ data.time_nine }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="oxygen_nine" value="{{ data.oxygen_nine }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="lel_nine" value="{{ data.lel_nine }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="h2s_nine" value="{{ data.h2s_nine }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="co_nine" value="{{ data.co_nine }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="other_nine" value="{{ data.other_nine }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="initials_nine" value="{{ data.initials_nine }}"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="field-wrap"><input type="text" name="date_ten" value="{{ data.date_ten }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="time_ten" value="{{ data.time_ten }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="oxygen_ten" value="{{ data.oxygen_ten }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="lel_ten" value="{{ data.lel_ten }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="h2s_ten" value="{{ data.h2s_ten }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="co_ten" value="{{ data.co_ten }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="other_ten" value="{{ data.other_ten }}"></div>
                        </td>
                        <td>
                            <div class="field-wrap"><input type="text" name="initials_ten" value="{{ data.initials_ten }}"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8"><label class="full-label"></label><textarea name="des_comment">{{ data.des_comment }}</textarea></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>\r\n
<script type="text/javascript" src="/static/js/draft.js"></script>